main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: white; /* Set white background */
}

.navbar {
    background-color: white;
    border-bottom: 1px solid black;
}

.name {
    color: black;
    margin: 0;
  }

.menu-button {
    background: transparent;
    color: black;
    padding: 0.5rem;
  }

.about-container {
    max-width: 800px; /* Limit the width of the container */
    text-align: left; /* Center align text */
    margin: 0 auto; /* Center the container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-image {
    width: 50%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: round the corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional: add a shadow */
}

.about-container h1 {
    margin-top: 20px; /* Space above the header */
    font-size: 2.5em; /* Adjust font size */
}

.about-container p {
    margin-top: 15px; /* Space above the paragraph */
    font-size: 1.2em; /* Adjust font size */
    line-height: 1.6; /* Improve readability */
}
