body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("assets/images/5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }

  .name {
    color: white;
    margin: 0;
  }
  

  .menu-button {
    background: transparent;
    color: white;
    padding: .5rem;
  }

  .menu-link {
    text-decoration: none; /* Remove underline from links */
  }

  .menu-link.active .menu-button {
    background-color: #217dbb; /* Highlight color for active button */
  }

  
  header .cover-image h1 {
    font-size: 3em;
    margin: 0;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  header .cover-image .menu-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  header .cover-image .menu-button:hover {
    background-color: #217dbb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    header .cover-image h1 {
      font-size: 2em;
    }
    
    header .cover-image .menu-button {
      font-size: 0.9em;
      padding: 8px 16px;
    }
    
    .navbar {
      flex-direction: column;
    }
  }
  